<ion-view view-title="GPS">
  <ion-content>
      <ion-content ng-controller="gpsController">  <!-- main controller declared here-->
          <div style="text-align:center">
            {{working}}
            <p>
                Latitude : {{latitude}} </p><br/><br/>
                <p>Longitude : {{longitude}} </p><br/><br/><br/>

                {{errors}}
           </div>
           <div id="container" class="animated fadeIn">
             <button class="button button-outline button-block button-light animated fadeIn home-font" ui-sref="app.gallery">
         Enter
       </button>
           </div>
      </ion-content>
    </ion-pane>
  </ion-content>
</ion-view>
